@model Brewery.Shared.Beer

<p>
Are you sure you want to delete <em>@Model.Name</em> ?
</p>

<form asp-controller="Beer" asp-action="DoDelete">
  <input asp-for="Id" type="hidden">
  <button type="submit">Delete</button>
</form>