@model Brewery.Shared.Beer

@{
      ViewData["Title"] = Model.Name;
}

<table>
  <tr>
    <td style="font-weight: bold">Name</td>
    <td>@Model.Name</td>
  </tr>
  <tr>
    <td style="font-weight: bold">Type</td>
    <td>@Model.BeerType.Name</td>
  </tr>
</table>